.welcome1{
    margin-top:20px;
    margin-bottom:20px;
    border:2px solid black;
    padding:50px;
}
welcome{
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
}
.formbtn1{
    margin-bottom:10px;
    margin-top:10px;
}
.btn1{
    color:white;
    background-color: red;

}
#imgpr{
    height:300px;
    width:100%;
}
.product-f-image{
    margin-top:40px;
}
.forms1{
    margin-top:20px;
}
alert1{

    
}